/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin: 0 auto;
  /* background: url("./img/plano\ 1.jpg"); */
  overflow-x: hidden;
  background: rgb(246, 246, 246);
  background: linear-gradient(
    180deg,
    rgba(246, 246, 246, 1) 0%,
    rgba(255, 255, 255, 1) 30%,
    rgba(211, 240, 248, 1) 100%
  );
}

h1,
h2,
h3 {
  font-family: arial;
  color: #a6a6a6;
}

p {
  font-family: arial;
  color: #a6a6a6;
}

/* Header */

header {
  height: 10vh;

  /* background-color: white; */
  margin: 1vh 0 1vw 0;
  border-radius: 0.6em;
}

nav {
  display: flex;
  margin: 0 1em;
  justify-content: space-between;
}

.logo {
  align-self: center;
}

.logo > img {
  height: 10vh;
  width: 20vw;
}

.btnagendar {
  width: 20vw;
  border: none;
}

.btnagendar > button {
  background-color: rgb(37, 211, 102);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1em;
  margin: 2vh auto;
  width: 100%;
  height: 7vh;
  border: none;
  border-radius: 1em;
}

/* Primeira seção */
.headline {
  /* margin: 0 auto 5vh auto; */
  margin: 0 auto;
  height: 100vh;
  /* width: 95vw; */
  background-image: url("./img/page\ 1\ -\ ext.png");
  background-size: 100% 100%;
}

.headline > form {
  width: 30vw;
  height: 60vh;
  text-align: center;
  padding: 2em;
  background-color: white;
  position: relative;
  top: 25vh;
  /* bottom: 60vh; */
  left: 68vw;
  border-radius: 2em;
}

.headline > form > h2 {
  margin-bottom: 2vh;
  letter-spacing: 0.1em;
}

.headline > form > input {
  margin: 2vh auto;
  width: 80%;
  height: 5vh;
  border-radius: 0.5em;
}

.headline > form > button {
  background-color: rgb(37, 211, 102);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1.3em;
  margin: 2vh auto;
  width: 80%;
  height: 10vh;
  border: none;
  border-radius: 2em;
}
/* Tratamentos */

.tratamentos {
  height: 100vh;
}

.tratamentos > div h2 {
  /* background-color: red; */
  letter-spacing: 0.3em;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.card-tratamentos {
  height: 100vh;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-tratamentos > div {
  width: 20vw;
  height: 80vh;
  box-shadow: 10px 2.5px 10px #e0e0e0;
  border-radius: 0.5em;
}

.bucal {
  background-image: url("./img/Diagnóstico\ Bucal\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

.estetica {
  background-image: url("./img/Estética\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

.facial {
  background-image: url("./img/Estética\ Facial\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

.procedimentos {
  background-image: url("./img/Procedimentos\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

/************Prova Social************/

.prova-social {
  width: 95vw;
  margin: 1em auto;
  /* border: 1px inset black; */
  border-radius: 1em;
  background-color: rgba(211, 240, 248, 0.15);
  padding: 4vh 1vw;
  box-shadow: 10px 5px 10px 10px #e0e0e0;
}

.prova-social > h2 {
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  /* padding: 0.5em; */
}

.prova-social > .card-social {
  /* background-color: yellow; */
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-social > div {
  width: 30%;
  height: 80%;
  border-radius: 1.3em;
}

.card-social > div:nth-of-type(1) {
  background: url("./img/Tratamentos/aparelho.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-social > div:nth-of-type(2) {
  background: url("./img/Tratamentos/clareamento.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-social > div:nth-of-type(3) {
  background: url("./img/Tratamentos/porcelana.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* 
.card-social > div > p {
  border: solid 1px black;
  background-color: burlywood;
} */

/************Depoimentos ************/
.depoimentos {
  text-align: center;
  padding: 1em;
  height: 100vh;
  /* background-color: pink; */
}

.depoimentos > h2 {
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: bolder;
  font-size: 2em;
  padding: 1em;
}

.card-depoimento {
  margin: 0 auto;
  width: 55%;
  height: 70vh;
  /* background-image: url("./img/Depoimentos/Depoimento\ 1.JPG"); */
  background-size: 100% 100%;
  border-radius: 2em;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
}

.card-depoimento > div {
  width: 35vw;
  height: 14vw;
  margin: 0 auto;
}

/* .card-depoimento > div:nth-of-type(1) {
  background-image: url("./img/Depoimentos/Depoimento\ 1.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(2) {
  background-image: url("./img/Depoimentos/Depoimento\ 2.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(3) {
  background-image: url("./img/Depoimentos/Depoimento\ 3.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(4) {
  background-image: url("./img/Depoimentos/Depoimento\ 4.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(5) {
  background-image: url("./img/Depoimentos/Depoimento\ 5.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(6) {
  background-image: url("./img/Depoimentos/Depoimento\ 6.JPG");
  background-size: 100% 100%;
} */

.depoimentos > button {
  background-color: rgb(37, 211, 102);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-size: 1em;
  margin: 4vh auto;
  width: 50%;
  height: 7vh;
  border: none;
  border-radius: 1em;
}

/************ Quem somos ************/
.quem-somos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  width: 95vw;
  /* background-color: pink; */
}

.quem-somos > div > img {
  height: 80vh;
  width: 53vw;
  border-radius: 1.5em;
  box-shadow: 10px 10px 20px 10px rgba(205, 235, 240, 1);
}

.text-qs {
  width: 37vw;
}

/************ Perguntas Frequentes ************/
.faq {
  width: 95vw;
  margin: 0 auto;
}

.faq > h2 {
  letter-spacing: 0.3em;
}

.faq-item {
  padding: 1em 1em 1em 0em;
}

.question-item {
  text-decoration: none;
  color: hsl(237, 12%, 33%);
}
/* 
.question-item:after {
  content: url("./images/icon-arrow-down.svg");
  float: right;
}*/

.question-item-active {
  font-weight: bold;
}
/* 
.question-item-active:after {
  content: url("./images/icon-arrow-down.svg");
  float: right;
  transform: rotate(0.5turn);
  transition: 0.3s;
} */

.answer-item {
  display: none;
  /* opacity: 0; */
  font-size: 1em;
  color: hsl(240, 6%, 50%);
}

.answer-item-display {
  display: block;
  /* opacity: 1; */
  /* font-size: 12px; */
}

/************ Maps ************/

.local {
  text-align: center;
  padding: 1em;
  border-radius: 1.3em;
  box-shadow: 10px 10px 20px 10px #e0e0e0;
  width: 95vw;
  margin: 2em auto;
}

.maps {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
}

/************ Rodapé ************/
footer {
  padding: 2vh 0;
  width: 100%;
  height: 40vh;
  border: 3px solid #a6a6a6;
  background-color: #d3effd;
  /* background-color: aquamarine; */
}

footer > div {
  width: 95vw;
  /* background-color: blanchedalmond; */
  text-align: center;
  margin: 0 auto;
}

footer > div > .logo-rodape {
  height: 20vh;
  width: 40vw;
}

footer > div > img {
  height: 5vh;
  width: 5vh;
}

.direitos {
  display: flex;
  font-size: 0.8em;
  font-weight: 600;
  color: #a6a6a6;
  /* border: 0.3em solid #a6a6a6; */
  /* padding: 2em 0; */
  justify-content: space-between;
}
