/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 95vw;
  margin: 0 auto;
  /* background: url("./img/plano\ 1.jpg"); */
  overflow-x: hidden;
}

/* Header */

header {
  height: 10vh;
  background-color: white;
  margin: 1vh 0 1vw 0;
  border-radius: 0.6em;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  align-self: center;
}

.logo > img {
  height: 10vh;
  width: 20vw;
}

/* Primeira seção */
.headline {
  /* display: flex; */
  height: 80vh;
  /* width: 95vw;
  margin: 0 auto; */
  /* justify-content: space-around; */
  background-image: url("./img/page\ 1\ -\ ext.png");
  background-size: cover;
}

.headline > form {
  width: 20vw;
  height: 50vh;
  text-align: center;
  padding: 2em;
  background-color: white;
  position: relative;
  top: 15vh;
  bottom: 20vh;
  left: 70vw;
  border-radius: 2em;
}

.headline > form > input {
  margin: 2vh auto;
  width: 80%;
  height: 5vh;
}

/* Tratamentos */

.tratamentos {
  /* background: url("./img/plano\ 1.jpg"); */
  /* background-color: yellow; */
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  padding: 2em; */
}

.tratamentos > div h1 {
  /* background-color: red; */
  text-align: center;
}

.card-tratamentos {
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-tratamentos > div {
  width: 20vw;
  height: 80vh;
  border: 1px solid black;
}

.bucal {
  background-image: url("./img/Diagnóstico\ Bucal\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

.estetica {
  background-image: url("./img/Estética\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

.facial {
  background-image: url("./img/Estética\ Facial\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

.procedimentos {
  background-image: url("./img/Procedimentos\ -\ Odonto\ e\ Corpo.png");
  background-size: 100% 100%;
}

.prova-social {
  text-align: center;
  /* background-color: blue; */
}

.prova-social > .card-social {
  /* background-color: antiquewhite; */
  /* width: 100vw; */
  height: 50vh;
  display: flex;
  justify-content: space-around;
}

.card-social > div:nth-of-type(1) {
  width: 25vw;
  background: url("/img/Clareamento/Clareamento.jpeg");
  background-size: 100% 100%;
}

.card-social > div:nth-of-type(2) {
  width: 25vw;
  background: url("/img/Clareamento/Clareamento\ e\ Faceta.jpeg");
  background-size: 100% 100%;
}

.card-social > div:nth-of-type(3) {
  width: 25vw;
  background: url("/img/Clareamento/Protese\ Imediata.jpeg");
  background-size: 100% 100%;
}

/* 
.card-social > div > p {
  border: solid 1px black;
  background-color: burlywood;
} */

/************Depoimentos ************/
.depoimentos {
  text-align: center;
}

.card-depoimento {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-depoimento > div {
  width: 32%;
  height: 40%;
}

.card-depoimento > div:nth-of-type(1) {
  background-image: url("./img/Depoimentos/Depoimento\ 1.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(2) {
  background-image: url("./img/Depoimentos/Depoimento\ 2.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(3) {
  background-image: url("./img/Depoimentos/Depoimento\ 3.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(4) {
  background-image: url("./img/Depoimentos/Depoimento\ 4.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(5) {
  background-image: url("./img/Depoimentos/Depoimento\ 5.JPG");
  background-size: 100% 100%;
}

.card-depoimento > div:nth-of-type(6) {
  background-image: url("./img/Depoimentos/Depoimento\ 6.JPG");
  background-size: 100% 100%;
}

/************ Quem somos ************/
.quem-somos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.quem-somos > div img {
  height: 80vh;
  width: 50vw;
}

/************ Perguntas Frequentes ************/
.faq {
  width: 100%;
  margin: auto;
}

.faq-item {
  padding: 1em 1em 1em 0em;
}

.question-item {
  text-decoration: none;
  color: hsl(237, 12%, 33%);
}
/* 
.question-item:after {
  content: url("./images/icon-arrow-down.svg");
  float: right;
}*/

.question-item-active {
  font-weight: bold;
}
/* 
.question-item-active:after {
  content: url("./images/icon-arrow-down.svg");
  float: right;
  transform: rotate(0.5turn);
  transition: 0.3s;
} */

.answer-item {
  display: none;
  /* opacity: 0; */
  font-size: 1em;
  color: hsl(240, 6%, 50%);
}

.answer-item-display {
  display: block;
  /* opacity: 1; */
  /* font-size: 12px; */
}

/************ Maps ************/
.maps {
  height: 80vh;
  width: 100%;
  margin: 0 auto;
}

/************ Rodapé ************/
footer {
  width: 100%;
  height: 40vh;
  background-color: aquamarine;
}
